#container {
	width: 90%;
	max-height: 80vh;
  margin: auto;
  overflow: auto;
}
.component {
	width: 100%;
	height: auto;
}
#component__card {
	width: 100%;
	height: auto;
	background: rgba(104, 108, 163, 0.1);
	color: white;
}
