body,
html {
	overflow: hidden;
	background: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
}
a {
	color: inherit;
	text-decoration: none;
	text-transform: none;
}
.MuiOutlinedInput-notchedOutline {
	border-color: white;
}
.PrivateNotchedOutline-root-1.MuiOutlinedInput-notchedOutline,
.MuiOutlinedInput-root.Mui-focused.MuiOutlinedInput-notchedOutline {
	border-color: #3f51b5;
}
.MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-elevation24.MuiPaper-rounded {
	background: rgba(0, 0, 0, 0.9);
	color: white;
}
